body
{
    background-color: black;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    text-align: center;
}

input[type= "checkbox"]
{
    width:30px;
    height:30px;
}

div {
 transition: all ease-in-out 0.5s;
background-color: rgb(199, 37, 37);
 height: 100px;
 width: 100%;
 position: relative;
top: 0;
 left: 0;
padding-top: 25px;
font-size: 50px;
 text-align: center;
 }
 
 .ng-hide {
 height: 0;
}
 
.css-class-add, .css-class-remove {
transition: all 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

 .css-class-add.css-class-add-active {
color: rgb(216, 38, 76);
font-size: 5em;
 }

 .css-class-remove.css-class-remove-active {
 font-size: 2em;
color: rgb(216, 38, 76);
 }


 .css-class
 {
font-size: 5em;
    background-color: black;
    color: white;
 }

 button
 {
    background-color: WHITE;
    border: 1px solid BLACK;
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    width: 100px;
    font-weight: 300;
    border-radius: 10px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    text-align: center;
    margin-bottom: 30px;
 }